.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  padding: 0 10px 0 10px;
  background-color: #282c34;
}

.sec-title {
  display: inline;
  margin: 0px 0 0 10px;
}

.nav-item {
    cursor: pointer
}

.breadcrumb {
    background-color: #2b2b2b;
    color: #d2d2d2;
}
.toolbar .btn {
    margin-right: 10px;
}

.search-bar {
  min-width: 500px;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid white;
}

.card {
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 10px;
}

.risky-card {
  background-color: #320000;
  border: 1px solid #ff0027;
}

.card-body p {
  margin: 0px;
}

.card-body {
  padding: 20px 20px 0 20px;
}

.card-footer {
  padding-top: 5px;
}

.monospaced {
  font-family: monospace;
  font-size: 15px;
}

.card-received {
  width: 70%;
  margin-right: auto;
}

.card-sent {
  width: 70%;
  margin-left: auto;
}

.nav-item {
  color: white;
  margin-right: 20px;
}

.list-box {
  height: 90vh;
  overflow-y: scroll
}
.content-box {
  height: 90vh;
  overflow-y: scroll
}

.list-group-hover :hover{
  background-color: #7a0013;
}

.list-item-selected {
  background-color: #d63031;
}
